<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>TPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AccesAnimateur</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.AccesAnimateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccesAnimateurPage</servlet-name>
    <jsp-file>/animateur/accesAnimateur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesAnimateur</servlet-name>
    <url-pattern>/animateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilStagiaire</servlet-name>
    <jsp-file>/stagiaire/gererProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilStagiaire</servlet-name>
    <url-pattern>/stagiaire/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccesStagiaire</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.AccesStagiaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccesStagiairePage</servlet-name>
    <jsp-file>/stagiaire/accesStagiaire.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesStagiaire</servlet-name>
    <url-pattern>/stagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiderAcces</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ValiderAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAcces</servlet-name>
    <url-pattern>/acces.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiderAcces</servlet-name>
    <url-pattern>/animateur/ValiderAccesAnimateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiderAcces</servlet-name>
    <url-pattern>/stagiaire/ValiderAccesStagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Deconnecter</display-name>
    <servlet-name>Deconnecter</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.Deconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnecter</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListerFormations</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ListerFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerFormations</servlet-name>
    <url-pattern>/formation/liste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GererFormations</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.GererFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererFormations</servlet-name>
    <url-pattern>/animateur/gestionFormations</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Pool de connexion vers la base TPJavaEE_GestionFormations</description>
    <res-ref-name>jdbc/dsTPWeb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ModifPassword</display-name>
    <servlet-name>ModifPassword</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ModifPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifPassword</servlet-name>
    <url-pattern>/stagiaire/modifPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GererInscriptions</display-name>
    <servlet-name>GererInscriptions</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.GererInscriptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererInscriptions</servlet-name>
    <url-pattern>/stagiaire/formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerInscriptions</display-name>
    <servlet-name>ListerInscriptions</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ListerInscriptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerInscriptions</servlet-name>
    <url-pattern>/animateur/listerinscriptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerFormationsRSS</display-name>
    <servlet-name>ListerFormationsRSS</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.FluxRSS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerFormationsRSS</servlet-name>
    <url-pattern>/listerformationsRSS</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>fr.eni_ecole.listeners.StartStopListener</listener-class>
  </listener>
  <filter>
    <display-name>IpFilter</display-name>
    <filter-name>IpFilter</filter-name>
    <filter-class>fr.eni_ecole.jee.filters.IpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IpFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CGUFilter</display-name>
    <filter-name>CGUFilter</filter-name>
    <filter-class>fr.eni_ecole.jee.filters.CGUFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CGUFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>